<div class="alignment">
    <h1>Welcome to movies library</h1>
</div>
<%# <%= form_for "", url: movies_path, role: "search", method: :get do %>
    <%# <%= text_field_tag :search, @search_term, placeholder: "Search movie/director"%>
<%# <% end %>
<br>
<br>
<div class="alignment">
    <img src="/movies.png" height="400px" width="400px">
</div>